<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoOne</title>
    <!--
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    -->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Titillium Web', sans-serif;
            margin: 0;
        }

        .fixed-container {
            position: fixed;
            display: flex;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .bg-dark {
            background: #ebfffa;
        }

        .item-center {
            display: flex;
            align-items: center;
        }

        .flex-center {
            margin: auto;
        }

        nav {
            display: flex;
            flex-direction: column;
            width: 200px;
            overflow: hidden;
            text-align: left;
        }

        nav>a {
            display: flex;
            align-items: center;
            font-size: 24px;
            line-height: 50px;
            color: #0dceda;
            text-decoration: none;
            transform: translateX(-1em);
        }

        nav>a:hover {
            transform: translateX(0);
            transition: 0.2s ease-out;
        }
        /*
        nav > a::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background: linear-gradient(45deg, transparent 0.72em, #0dceda 0);
            transform: translateY(1em) rotateZ(45deg);
        }
        */
        /*
        .delta {
            display: inline-block;
            position: relative;
            right: 0.8em;
            width: 24px;
            height: 24px;
            background: linear-gradient(45deg, transparent 0.72em, #0dceda 0);
            transform: rotateZ(45deg);
        }
        */

        .personal-desc {
            position: relative;
            width: 600px;
            height: 200px;
        }


        .personal-desc::before {
            content: 'A';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 180px;
            line-height: 200px;
            color: rgba(198, 252, 229, 0.8);
            font-weight: bold;
            text-align: center;
            z-index: -1;
        }

        .personal-desc span {
            position: absolute;
            font-size: 72px;
            font-weight: bold;
            color: rgba(110, 243, 214, 0.8);
        }

        .personal-desc span:nth-of-type(1) {
            top: 0;
            left: 0.5em;
        }

        .personal-desc span:nth-of-type(2) {
            bottom: 0;
            right: 0.5em;
        }

        @media (min-width: 1001px) {
            nav>a::before {
                content: '';
                display: inline-block;
                position: relative;
                right: 0.8em;
                width: 24px;
                height: 24px;
                background: linear-gradient(45deg, transparent 0.72em, #0dceda 0);
                transform: rotateZ(45deg);
            }
        }

        @media (max-width: 1000px) {
            #nav {
                position: absolute;
                top: 0;
                right: 0;
                width: 320px;
                transform: translateX(100%);
            }

            #nav:target {
                transform: translateX(0);
                transition: ease-out 0.2s;
            }
            /*
            :not(#nav:target) {
                transform: translateX(100%);
                transition: ease-out 0.2s;
            }
            */

            #nav>a {
                display: inline-block;
                text-align: center;
                width: 100%;
                transform: translateX(0);
            }

            .personal-desc {
                height: 150px;
                width: 320px;
            }

            .personal-desc::before {
                font-size: 120px;
                line-height: 150px;
            }

            .personal-desc span {
                font-size: 48px;
            }

            .menu {
                display: block;
                position: absolute;
                top: 1.2em;
                right: 1.2em;
                width: 40px;
                height: 40px;
                background: linear-gradient(rgba(13, 206, 218, 0.8) 20%, transparent 0, transparent 40%,
                    rgba(110, 243, 214, 0.8) 0, rgba(110, 243, 214, 0.8) 60%, transparent 0, transparent 80%, rgba(198, 252, 229, 0.8) 0);
            }

        }
    </style>
</head>

<body>
    <div class="fixed-container bg-dark">
        <div class="item-center flex-center">
            <a href="#nav" class="menu"></a>

            <nav id='nav'>
                <a href="/"><i class="delta"></i>home</a>
                <a href="https://gowantong.github.io/posts/"><i class="delta"></i>blogs</a>
                <a href="/funny"><i class="delta"></i>funny</a>
                <a href="/about"><i class="delta"></i>about</a>
            </nav>
            <a href="/">
                <div class="personal-desc">
                <span>front-end</span>
                <br>
                <span>developer</span>
            </div>
            </a>
        </div>
    </div>
</body>

</html>