<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja</title>
  <style>
   body {
     margin: 0;
     padding: 0;
   }
  </style>
</head>
<body>
  <canvas id="app"></canvas>
  <script src="/javascripts/ninja/lib/cooldraw.js"></script>
  <script src="/javascripts/ninja/resource.js"></script>
  <script src="/javascripts/ninja/action.js"></script>
  <script src="/javascripts/ninja/main.js"></script>
</body>
</html>